<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
                <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-home"></i><span class="nav-text">Homepage</span>
                </a>
            </li>
            <li class="nav-label">Editor</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-list"></i><span class="nav-text">Lists</span>
                </a>
                <ul aria-expanded="false">
                    <li><a asp-controller="Brand" asp-action="Index">Brands</a></li>
                    <li><a asp-controller="Category" asp-action="Index">Categories</a></li>
                    <li><a asp-controller="Product" asp-action="Index">Products</a></li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">Menu with child</a>
                        <ul aria-expanded="false">
                            <li><a href="./email-compose.html">Compose</a></li>
                            <li><a href="./email-inbox.html">Inbox</a></li>
                            <li><a href="./email-read.html">Read</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-user"></i><span class="nav-text">User & Access</span>
                </a>
                <ul aria-expanded="false">
                    <li><a asp-controller="WebUser" asp-action="Index">Users</a></li>
                    <li><a asp-controller="WebUserRole" asp-action="Index">Roles</a></li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">Menu with child</a>
                        <ul aria-expanded="false">
                            <li><a href="./email-compose.html">Compose</a></li>
                            <li><a href="./email-inbox.html">Inbox</a></li>
                            <li><a href="./email-read.html">Read</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-label">Test</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-world-2"></i><span class="nav-text">Test1</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./ui-accordion.html">Accordion</a></li>
                    <li><a href="./ui-alert.html">Alert</a></li>
                    <li><a href="./ui-badge.html">Badge</a></li>
                </ul>
            </li>
            <li>
                <a href="widget-basic.html" aria-expanded="false">
                    <i class="icon icon-globe-2"></i><span class="nav-text">Test2</span>
                </a>
            </li>
        </ul>
    </div>


</div>